html{
    overflow-x: hidden;
    font-family: 'Climate Crisis', cursive;
font-family: 'Roboto', sans-serif;
}
.main{
    background-color: #2F6B87ff;
    
}
.navbar{
    text-align: right;
       font-size: 25px;
       
       
}
.navbar a {
    color: black;
    font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
    padding-right: 20px;
    text-decoration: none;
}
.navbar-inner{
    background-color:#7a746a ;
    
}
.navbar img{
     height: 350px; 
 margin-right: 1350px;
 
 }

.navbar-outer{
     background-color:#16394E ;
     height: 350px;
}

.hero img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1685px;
    height: 789px;
   }
   .hero{
    background-color: #B1C6D7ff
   }
   .main-1 {
    display: flex;
    align-items: flex-start; 
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(177, 198, 215); 
    
}

.image-1 {
    flex: 1; 
    margin-right: 20px;
    
}

.text-1 {
    flex: 1;
    margin-left: 150px; 
}

.image-1 img {
     height: 530px;
     width: 990px;
}

.main-2 {
    background-color: white;
    display: flex;
    align-items: flex-start; 
    margin-top: 50px;
    border: 1px solid black;
  
}

.chart{
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.chart img {
    height: 550px;
    width: 900px;
}

.text-2  {
    flex: 1;
    margin-left: 20px;
    padding: 20px;
}

.main-3 {
    background-color: #16394E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.main-3 table {
    width: 100%;
    max-width: 800px; 
    padding: auto;
}

.main-3 img {
       height: 250px;
    width: auto;
    padding: 30px;
}

.main-3 p {
    margin: 20px 0;
}
.icon-text_1{
padding: 10px;
background-color: white;   
}
.main-4 h2{
    text-align: center;
    padding: 50px;
}
.main-4{
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-right: 50px;
}

.main-4_inner{
    border: 1px solid black;
    background-color: white;
    }

.manu-button{
    height: 150px;
    width: 250px;
    margin-left: 200px;
    margin-right: 50px;
   }
   .aid-button{
    height: 150px;
    width: 250px;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
   }
   footer{
    height: 250px;
    background-color:#7a746a;
   }
.instruction-1{
    margin-right: 200px;
}